# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Virtual Environments
hostello_env/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.*

# Media Files
media/
media/*
/hostello_backend/media/

# IDE / OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
